doctype
html(lang='en', style='height: 100%')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title QuarkChat | Benchmark
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css', attr)
    link(rel='stylesheet', href='/libs/toastr/build/toastr.min.css', attr)

    block scripts
      script(src='/libs/jquery/dist/jquery.min.js' defer)
      script(src='/libs/bootstrap/dist/js/bootstrap.bundle.min.js' defer)
      script(src='/libs/toastr/build/toastr.min.js' defer)
      script(src='/libs/sidh/dist/sidh.js' defer)
      script(src='/libs/sphincs/dist/sphincs.js' defer)
      script(src='/libs/moment/min/moment-with-locales.min.js' defer)
      script(src='/js/constants.js' defer)
      script(src='/libs/webworker-promise/dist/worker.min.js' defer)
      script(src='/libs/webworker-promise/dist/pool.min.js' defer)
      script(src='/js/crypto-helper.js' defer)
      script(src='/js/helpers.js' defer)
      script(src='/js/ratcheting.js' defer)
      script(src='/js/benchmarks/utils.js')
      script(src='/js/benchmarks/account-gen.js' defer)
      script(src='/js/benchmarks/message-ops.js' defer)
  body(style='height: 100%')
    block body
      div Account generation benchmark
        br
        label(for="runs") Runs
        input#runs(type="number", name="runs" value="20")
        button#runBenchmark.btn.btn-info Run
        a#accountGenResultsDownload.btn.btn-primary.disabled(role="button" href="#") Download results
        p Run:&nbsp;
          span#runNum -
          |/
          span#numRuns -
        div Results:&nbsp;
          p Run times:&nbsp;
            span#results -
          p Average:&nbsp;
            span#average -
            | ms
          p Standard Deviation:&nbsp;
            span#std -
            | ms
      div Messaging benchmark
        br
        label(for="runsMessaging") Runs
        input#runsMessaging(type="number", name="runs" value="20")
        label(for="messageSize") Message size
        input#messageSize(type="number", name="runs" value="60")
        button#runBenchmarkMessaging.btn.btn-info Run
        a#messagingResultsDownload.btn.btn-primary.disabled(role="button" href="#") Download results
        div#initialMessagesEncryptTimes initialMessagesEncryptTimes Results:&nbsp;
          p Run times:&nbsp;
            span.results -
          p Average:&nbsp;
            span.average -
            | ms
          p Standard Deviation:&nbsp;
            span.std -
            | ms
        div#initialMessagesDecryptTimes initialMessagesDecryptTimes Results:&nbsp;
          p Run times:&nbsp;
            span.results -
          p Average:&nbsp;
            span.average -
            | ms
          p Standard Deviation:&nbsp;
            span.std -
            | ms
        div#regularMessagesEncryptTimes regularMessagesEncryptTimes Results:&nbsp;
          p Run times:&nbsp;
            span.results -
          p Average:&nbsp;
            span.average -
            | ms
          p Standard Deviation:&nbsp;
            span.std -
            | ms
        div#regularMessageTickDecryptTimes regularMessageTickDecryptTimes Results:&nbsp;
          p Run times:&nbsp;
            span.results -
          p Average:&nbsp;
            span.average -
            | ms
          p Standard Deviation:&nbsp;
            span.std -
            | ms
        div#regularMessageNoTickDecryptTimes regularMessageNoTickDecryptTimes Results:&nbsp;
          p Run times:&nbsp;
            span.results -
          p Average:&nbsp;
            span.average -
            | ms
          p Standard Deviation:&nbsp;
            span.std -
            | ms
        div#skipMessagesNoTickDecryptTimes skipMessagesNoTickDecryptTimes Results:&nbsp;
          p Run times:&nbsp;
            span.results -
          p Average:&nbsp;
            span.average -
            | ms
          p Standard Deviation:&nbsp;
            span.std -
            | ms
        div#outOfOrderMessageDecryptTimes outOfOrderMessageDecryptTimes Results:&nbsp;
          p Run times:&nbsp;
            span.results -
          p Average:&nbsp;
            span.average -
            | ms
          p Standard Deviation:&nbsp;
            span.std -
            | ms
