doctype
html(lang='en', style='height: 100%')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title QuarkChat
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css', attr)
    link(rel='stylesheet', href='/libs/toastr/build/toastr.min.css', attr)
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    link(rel="stylesheet", href="/css/messenger.css")

    block scripts
      script(src='/libs/jquery/dist/jquery.min.js' defer)
      script(src='/libs/bootstrap/dist/js/bootstrap.bundle.min.js' defer)
      script(src='/libs/socket.io-client/dist/socket.io.js' defer)
      script(src='/libs/localforage/dist/localforage.min.js' defer)
      script(src='/libs/toastr/build/toastr.min.js' defer)
      script(src='/libs/randomart-js/dist/randomart.min.js' defer)
      script(src='/libs/sidh/dist/sidh.js' defer)
      script(src='/libs/sphincs/dist/sphincs.js' defer)
      script(src='/libs/vue/dist/vue.min.js' defer)
      script(src='/libs/moment/min/moment-with-locales.min.js' defer)
      script(src='/js/constants.js' defer)
      script(src='/libs/promise-worker/dist/promise-worker.min.js' defer)
      script(src='/js/db-init.js' defer)
      script(src='/js/crypto-helper.js' defer)
      script(src='/js/helpers.js' defer)
      script(src='/js/ratcheting.js' defer)
      script(src='/js/register.js' defer)
      script(src='/js/messenger.js' defer)
      script(src='/js/main.js' defer)
  body(style='height: 100%')
    block body
      div#content: div#registerSegment.jumbotron.d-flex.align-items-center.min-vh-100(style='margin-bottom: 0; display: none !important;')
        div.container.card.card-block(style='padding: 1em; border-radius: 1em; max-width: 400px')
          div#greeting(style='text-align: center')
            h3 Welcome to QuarkChat!
            p This is just a proof of concept and 
              em.text-danger likely contains serious implementation errors.
          hr
          form#registerForm(method='post', class='form-vertical', action='javascript:void(0);')
            fieldset
              div(style='text-align: center')
                legend: strong.text-info Register
              div.form-group
                label Username:
                input.form-control(id='username' name='username', placeholder='Username')
                div.valid-feedback Looks good!
                div#usernameFeedback.invalid-feedback Invalid username

              div.form-actions
                button#registerSubmitBtn.btn.btn-primary.float-right(type='submit')
                  span#loadingSpinner.spinner-border.spinner-border-sm(role='status' aria-hidden='true' style='display: none;')
                  span &nbsp;
                  | Register
              
              div.form-actions
                input.btn.btn-success.float-left(type='button', value='Import profile' style='display: none;')

