<!-- Messenger template due to sunil8107(https://bootsnipp.com/sunil8107)
https://bootsnipp.com/snippets/1ea0N
-->
<style>
  .container{max-width:1170px; margin:auto;}
  img{ max-width:100%;}
</style>
<div id="app" class="container" style="display: none;">
  <h3 class="text-center" style="word-wrap: break-word;"> <span style="color: lightskyblue;">{{ username }}</span>, welcome to Quark Chat!</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Contacts</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input id="search" type="text" class="search-bar" placeholder="Add by username..." pattern="^[A-Za-z0-9]{3,30}$">
              <span class="input-group-addon">
                <button id="searchButton" type="button"> <i class="fa fa-user-plus"></i></button>
              </span> </div>
          </div>
        </div>
        <div class="inbox_chat scrollbar">
          <template v-for="recipientUsername in conversationsOrder">
            <div class="chat_list" :class="{ 'active_chat': recipientUsername === activeConversationRecipient }" @click="switchConversation(recipientUsername)">
              <div class="chat_people">
                <div class="chat_img"> <img src="/images/avatar.png" alt="avatar"> </div>
                <div class="chat_ib">
                  <h5>{{ recipientUsername }}
                    <span class="chat_date" v-if="messages[recipientUsername] && messages[recipientUsername].length > 0">{{messages[recipientUsername][messages[recipientUsername].length - 1]['date'].toLocaleDateTimeString()}}</span>
                    <span class="chat_date" v-else>{{ (new Date()).toLocaleDateTimeString()}}</span>
                  </h5>
                  <p  v-if="messages[recipientUsername] && messages[recipientUsername].length > 0" :class="conversations[recipientUsername] ? 'unread' : ''">{{ messages[recipientUsername][messages[recipientUsername].length - 1]['content']}}</p>
                  <p v-else></p>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
      <div class="mesgs">
        <div class="btn-group" style="display: flex; justify-content: flex-end; margin-bottom: .3rem;">
          <template v-if="activeConversationRecipient">
          <button v-if="verifiedContacts[activeConversationRecipient]" id="showAdditionalDataRandomart" type="button" role="button" class="btn btn-sm btn-success" data-toggle="dropdown" @click="showADRandomart(activeConversationRecipient)">
            <span class="fa fa-lock"></span>&nbsp;Trusted
          </button>
          <button v-else="" id="showAdditionalDataRandomart" type="button" role="button" class="btn btn-sm btn-danger" data-toggle="dropdown" @click="showADRandomart(activeConversationRecipient)">
            <span class="fa fa-unlock"></span>&nbsp;Not trusted (Click here and compare with {{activeConversationRecipient}} to trust)
          </button>
          <div class="dropdown-menu" aria-labelledby="showAdditionalDataRandomart">
            <div id="randomart" style="font-family: monospace; white-space: pre;"></div>
            <form method="POST" action="javascript:void(0);" style="display: flex; justify-content: center; margin-top: .3rem;" id="trustForm">
              <div class="custom-control custom-checkbox" >
                <input type="checkbox" class="custom-control-input" id="trust" @click="changeTrustState(activeConversationRecipient, $event)">
                <label class="custom-control-label" for="trust">Trust</label>
              </div>
            </form> 
          </div>
          </template>
        </div>
        <div class="msg_history scrollbar">
          <template v-for="(message, index) in messages[activeConversationRecipient]" >
            <div v-if="message.type === 'in'" class="incoming_msg" :id="index === messages[activeConversationRecipient].length - 1 ? 'latestMessage' : ''">
              <div class="incoming_msg_img"> <span :data-letters="activeConversationRecipient.charAt(0)"></span>
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p class="msg">{{message.content}}</p>
                  <span class="time_date">{{message.date.toLocaleDateTimeString()}}</span>
                </div>
              </div>
            </div>
            <div  v-else-if="message.type === 'out'" class="outgoing_msg" :id="index === messages[activeConversationRecipient].length - 1 ? 'latestMessage' : ''">
              <div class="sent_msg">
                <p class="msg">{{message.content}}</p>
                <span class="time_date">{{message.date.toLocaleDateTimeString()}}</span>
              </div>
            </div>
          </template>
        </div>
        <div class="type_msg">
          <form action="javascript:void(0);" method="post" class="form-inline">
            <div class="form-group col-sm-10 col-md-11">
              <textarea type="text" id="messageComposer" 
              class="form-control write_msg" style="resize: none; width: 100%; border: none; padding-top: 0; padding-bottom: 0;" rows="2"
              placeholder="Type a message..."
              :username="activeConversationRecipient"
              :value="drafts[activeConversationRecipient]"></textarea>
            </div>
            <div class="form-group">
              <button id="sendButton" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>


    <p class="text-center top_spac">
      Design adapted from 
      <a href="https://bootsnipp.com/snippets/1ea0N target=" target="_blank" rel="noopener noreferrer">the bootsnipp template "Message Chat Box"</a> by 
      <a target="_blank" href="https://bootsnipp.com/sunil8107" rel="noopener noreferrer">Sunil Rajput</a>
    </p>

  </div>
</div>
<script>
  bootstrapMessenger().then();
</script>
